.Nova_col {
	max-width: 50em;
	overflow: hidden;
}

.Nova_cell {
	vertical-align: top;
}

/* stylelint-disable-next-line selector-max-id */
#novaaction {
	font-size: 67%;
}

.OpenStack_warning {
	/* @embed */
	background-image: url( images/warning-32.png );
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16px;
	position: relative;
	top: -16px;
}

.OpenStack_error {
	/* @embed */
	background-image: url( images/critical-32.png );
	background-position: center center;
	background-repeat: no-repeat;
	padding: 16px;
	position: relative;
	top: -16px;
}

.OpenStack_success {
	/* @embed */
	background-image: url( images/tick-32.png );
	display: inline-block;
	height: 20px;
	width: 20px;
}

.osm-consoleoutput {
	white-space: pre-wrap;
}
